@page
@model CaptchaModel
@{
    ViewData["Title"] = "验证码测试";
}

<h2>@ViewData["Title"]</h2>

<section class="row">
    <section class="col-6 py-4" id="Concatenate">
        <h4>点击验证码</h4>
        <div class="py-1">
            <label>验证值：</label>
            <span>@string.Join(",", Model.Click.Points.Select(_ => $"({_.X},{_.Y})"))</span>
        </div>
        <div>
            <label>用户值：</label>
            <span></span>
        </div>
        <div class="py-1">
            <div>请在下图中依次点击：<img src="@Model.Click.Image_Fonts" /></div>
            <div><img src="@Model.Click.Image_Board" /></div>
        </div>
    </section>
    <section class="col-6 py-4" id="Concatenate">
        <h4>拼图验证码</h4>
        <div class="py-1">
            <label>验证值：</label>
            <span>@string.Join(",", Model.Puzzle.Indexes)</span>
        </div>
        <div>
            <label>用户值：</label>
            <span></span>
        </div>
        <div class="py-1">
            <div>请完成下方拼图，原图：<img src="@Model.Puzzle.Image_Origin" width="40" height="40" /></div>
            <div>
                @foreach (var item in Model.Puzzle.Image_Blocks)
                {
                    <img src="@item" />
                }
            </div>
        </div>
    </section>
</section>
<section class="row">
    <section class="col-6 py-4" id="Concatenate">
        <h4>滑块验证码</h4>
        <div class="py-1">
            <label>验证值：</label>
            <span>@Model.Slider.Point</span>
        </div>
        <div>
            <label>用户值：</label>
            <span></span>
        </div>
        <div class="py-1">
            <div>请完成下方拼图：</div>
            <div>
                <img src="@Model.Slider.Image_Block" style="filter:drop-shadow(0 0 3px rgba(0,0,0,1))" />
                <br />
                <img src="@Model.Slider.Image_Board" style="border-radius:5px;filter:drop-shadow(0 0 3px rgba(0,0,0,1))" />
            </div>
        </div>
    </section>
    <section class="col-6 py-4">
        <div class="row">
            <section class="col-6" id="Concatenate">
                <h4>算术图片验证码</h4>
                <div class="py-1">
                    <label>验证值：</label>
                    <span>@Model.Arithmetic.Code</span>
                </div>
                <div class="py-1">
                    <div>验证码图片：</div>
                    <div>
                        <img src="@Model.Arithmetic.Image" />
                    </div>
                </div>
            </section>
            <section class="col-6" id="Concatenate">
                <h4>文本图片验证码</h4>
                <div class="py-1">
                    <label>验证值：</label>
                    <span>@Model.String.Code</span>
                </div>
                <div class="py-1">
                    <div>验证码图片：</div>
                    <div>
                        <img src="@Model.String.Image" />
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>

@section Scripts{
    <script type="text/javascript">
        window.onload = function () {

        };
    </script>
}